@use '../../Styles/color' as *;

.header {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  background-color: $background-secondary;

  &__inner {
    width: 100%;
    max-width: 1350px;
    margin-inline: auto;
  }

  &__brand {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    
  }

  &__logo > img {
    width: clamp(4rem, 20vmin, 12rem);
    height: clamp(4rem, 20vmin, 12rem);
  }

  &__brand-name {
    position: relative;
    width: 100%;
    text-align: left;
  }

  &__brand-title {
    font-size: min(8vw, 96px);
    line-height: 1;
    margin: 0 0 .15em;
  }

  &__brand-byline {
    margin: 0;
    font-size: min(3vw, 40px);
    line-height: 1;
    padding-left: 17%;
  }
}

.nav {
  background-color: #f6f6f6;

  &__menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: min(3vw, 40px);
    line-height: 1;
    padding: .75rem;
  }
  &__menu-item {
    padding-inline: 1rem;
  }
  &__menu-item:hover a {
    opacity: .65;
  }

  a {
    color: $text-primary
  }
}