@use '../../Styles/color' as *;

.races {
  display: flex;
  flex-direction: column; /* flera race staplade vertikalt */
  gap: 2rem;
  padding: 2rem;
  background-color: $background-secondary;
  width: min(90%, 1200px);
  margin: 2rem auto;
  text-align: center;

  .race {
    display: flex;
    align-items: center;
    gap: 2rem;

    .race-image {
      .races-images {
        max-width: 20%; /* liknande tidigare */
        height: auto;
        border-radius: 8px;
      }

      h4 {
        color: $text-secondary;
        margin-top: 0.5rem;
      }
    }

    .races-content {
      max-width: 80%;

      .content {
        background-color: $background-secondary; /* ändra från text-secondary */
        padding: 1rem;
        border-radius: 8px;

        .content-heading {
          .heading {
            margin-top: 0;
            color: $text-primary;
          }
        }

        .content-text {
          color: $text-primary;

          p {
            line-height: 1.5;
          }
        }
      }
    }
  }
}
